// 通用form
.activeList-container {
    .ant-input,
    .ant-select {
        width: 160px;
    }
    .v-picker .ant-calendar-picker-input.ant-input {
        width: 200px;
    }
    .list-tabs .ant-tabs-bar {
        margin: 0;
    }
    .ant-pagination-options-size-changer.ant-select {
        width: auto;
    }
}
.tabs-container {
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-wrap {
        background-color: #fafafa;
    }
}
// 活动列表,任务列表 通用列表
.activeListTable-container {
    overflow-x: scroll;
    .table-box {
        min-width: 1100px;
        .row-hd {
            box-shadow: 0 7px 7px 0 hsla(0, 0%, 87.1%, 0.26);
            margin-bottom: 20px;
            text-align: center;
            .ant-col {
                height: 40px;
                line-height: 40px;
                font-size: 14px;
            }
        }
        .row-tr {
            border: 1px solid #ddd;
            margin-bottom: 15px;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.03);
            .top {
                background-color: #f6f6f6;
                padding: 0 20px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;
                .rt-btn {
                    .icon {
                        width: 15px;
                        margin-right: 10px;
                    }
                }
            }
            .middle {
                font-size: 12px;
                text-align: center;
                padding: 10px 0;
                .col-td.col-line {
                    border-right: 1px solid #f1f1f1;
                    border-left: 1px solid #f1f1f1;
                }
                .col-td:nth-of-type(1) {
                    text-align: left;
                    padding-left: 10px;
                }
                .thumb {
                    width: 60px;
                    height: 60px;
                }
                .tb-icon {
                    width: 18px;
                    margin-right: 5px;
                }
                .ac-type {
                    .ac-repay {
                        line-height: 25px;
                        padding: 0px 2px;
                        border-radius: 2px;
                        &.blue {
                            color: rgb(64, 158, 255);
                            border: 1px solid rgba(64, 158, 255, 0.2);
                            background: rgba(64, 158, 255, 0.1);
                        }
                        &.red {
                            color: red;
                            border: 1px solid rgba(245, 108, 108, 0.2);
                            background: rgba(245, 108, 108, 0.1);
                        }
                    }
                }
                .topay {
                    // display: inline-block;
                    // padding-left: 6px;
                    // padding-right: 6px;
                    // cursor: pointer;
                    // height: 24px;
                    font-size: 12px;
                    // margin: 0 auto;
                    // text-align: center;
                    // line-height: 24px;
                    // background: @primary-color;
                    // color: #fff;
                    // border-radius: 3px;
                    margin-top: 5px;
                }
            }
        }
    }
}
// --------------------图标----------------
// 选择框
.check-icon {
    width: 16px;
}
// 红旗
.sign-icon {
    width: 15px;
    margin-left: 10px;
}
// 赏金
.san-icon {
    width: 16px;
    margin-right: 2px;
}
// 等级 心 钻
.level-icon {
    width: 16px;
}
// 延收
.buyer-ys {
    background-color: #7d5656;
    padding: 1px 6px;
    color: #fff;
    font-size: 10px;
    border-radius: 10px;
    margin-right: 2px;
}
// 追评
.buyer-zp {
    background-color: #fdbf43;
    padding: 1px 6px;
    color: #fff;
    font-size: 10px;
    border-radius: 10px;
    margin-right: 2px;
}
// 预售
.buyer-ys {
    background-color: #fd8143;
    padding: 1px 6px;
    color: #fff;
    font-size: 10px;
    border-radius: 10px;
    margin-right: 2px;
}
// 主 比 购 ...
.buyer-s {
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 10px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    margin-right: 2px;
}
.tb-icon {
    width: 18px;
}
.thumb {
    width: 60px;
    height: 60px;
}

//----------------------------------------------//
// 活动详情
.activityDetail-container {
    .sec-title {
        margin-top: 30px;
        font-weight: bold;
        color: #333;
        font-size: 16px;
    }
    .sec-info {
        background-color: #f6f6f6;
        border-top: 1px solid #d2d2d2;
        padding: 20px;
        margin: 10px auto;
        &-total {
            text-align: right;
        }
    }
    .goods-wrap {
        overflow-x: scroll;
        .sec-info,
        .goods-info {
            min-width: 800px;
        }
    }
    .goods-info {
        border: 1px solid #dddddd;
        margin-top: 20px;
        .row-hd {
            background: #fafafa;
            height: 40px;
            line-height: 40px;
        }
        .row-bd {
            padding: 10px;
        }
        .tb-icon {
            width: 18px;
        }
        .goods-thumb {
            width: 60px;
            height: 60px;
        }
    }
}

// 活动详情信息 概况—费用详情
.acInfoDtl-container {
    // 模块标题
    .section-title {
        margin-top: 30px;
        font-weight: bold;
        color: #333;
        font-size: 16px;
    }
    //step5- 活动概况
    .active-profile {
        border-bottom: 1px solid #f1f1f1;
        padding-top: 10px;
        .ac-col {
            .ac-title {
                font-size: 13px;
                color: #333;
                font-weight: normal;
            }
            .ac-text {
                font-size: 12px;
                color: @c-gray;
            }
            .lv-icon {
                width: 20px;
            }
            .sign-text {
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
                padding-left: 18px;
                padding-right: 18px;
                height: 30px;
                line-height: 30px;
                background: #f5f7f9;
                color: #444;
                border-radius: 30px;
            }

            .ac-img {
                width: 80px;
            }
        }
    }
    // step5-活动费用详情
    .active-fee-table {
        .row-tr {
            border-bottom: 1px solid #f1f1f1;
            padding: 10px 0;
            .ant-col {
                text-align: center;
            }
            .ant-col:nth-of-type(1) {
                text-align: left;
            }
        }
        .row-total {
            background-color: #fafafa;
            padding: 20px 10px;
            margin-top: 20px;
        }
    }
}

// 任务详情
.taskDetail-container {
    // 步骤 条
    .steps-box {
        padding: 10px;
        margin-top: 10px;
        .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
            color: @primary-color;
        }
    }
    // 任务状态
    .order-info {
        box-sizing: border-box;
        padding: 30px;
        margin-top: 20px;
        border-radius: 8px;
        background: #fff5f2;
        .order-info-title {
            font-size: 16px;
            color: #333;
            font-weight: 700;
            margin-bottom: 20px;
        }
        p {
            color: #666666;
            font-size: 13px;
        }
        .order-info-footer {
            margin-top: 30px;
            .ant-btn {
                font-size: 14px;
                width: 140px;
            }
        }
        .special-color {
            color: @c-red;
        }
    }
}

// 任务发货
.delivery-container {
    min-width: 1000px;
    overflow: scroll;
    .dev-table {
        border: 1px solid #ccc;
        margin-top: 20px;
        border-bottom: 0;
    }
    .row-hd {
        border-bottom: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        font-size: 14px;
    }
    .title {
        font-size: 20px;
        color: #333;
        padding-top: 15px;
        font-weight: bold;
    }
    .ant-input {
        width: 150px;
    }
    .ant-select {
        width: 100px;
    }
}
// 任务详情 - 任务要求
.tdRequire-container {
    overflow: scroll;
    section {
        min-width: 1200px;
    }
    .task-info {
        padding: 15px 0;
        font-size: 13px;
        border-bottom: 1px solid #f1f1f1;
        color: rgba(0, 0, 0, 0.6);
    }
    .section-title {
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
        line-height: 40px;
    }
    // 活动信息表
    .section-table {
        border: 1px solid #ebeef5;
        .row-thd {
            background-color: #f4f4f4;
            border-bottom: 1px solid #ebeef5;
            .col-th {
                border-right: 1px solid #ebeef5;
            }
        }

        .col-th {
            padding: 12px 0;
            text-align: center;
            .thumb {
                width: 60px;
                height: 60px;
            }
            .tb-icon {
                width: 18px;
                margin-right: 5px;
            }
            .level-icon {
                width: 14px;
            }
        }
    }
}
// 任务详情- 任务进程
.tdProcess-container {
    background: #fff;
    -webkit-box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    padding: 25px 30px 25px 80px;
    margin-top: 20px;
    font-size: 13px;
    color: #666;
    .order-durtaion {
        font-size: 13px;
        color: #666666;
        .title {
            font-size: 14px;
            line-height: 50px;
            height: 50px;
            position: relative;
            .time-icon {
                position: absolute;
                left: -50px;
                top: 0;
                font-size: 20px;
            }
        }
    }
    .collapse-process {
        background-color: transparent;
        margin: 15px -15px;
        .ant-collapse-item {
            border-bottom-color: #f1f1f1;
        }
        .coll-header {
            position: relative;
            .coll-step {
                display: inline-block;
                width: 24px;
                height: 24px;
                border-radius: 100%;
                line-height: 24px;
                text-align: center;
                font-size: 12px;
                background: #eee;
                color: #888;
                position: absolute;
                left: -50px;
            }
            .coll-step.finished {
                background-color: @primary-color;
                color: #ffffff;
            }
        }
        .ant-collapse-content > .ant-collapse-content-box {
            padding: 0;
        }
        .coll-content {
            .size-12;
            .p-15;
        }
    }
}
// 任务详情 - 任务日志
.tdLog-container {
    .log-list {
        border-bottom: 1px solid #ebeef5;
        height: 34px;
    }
}
// 任务 选标签红旗
.sign-modal {
    .ant-modal {
        width: 650px !important;
        .ant-modal-body {
            overflow: scroll;
        }
    }
    .sign-modal-content {
        min-width: 514px;
    }
    .sign-textarea {
        width: 100%;
        height: 100px;
    }
}
@media screen and (max-width: 420px) {
    .sign-modal .ant-modal {
        overflow: scroll;
        width: 80% !important;
    }
}
